/*スタンプ画面の枠作成*/
.input1 {
/*位置，サイズ，枠などの指定*/
    transform: translate(245%, -252%);
    position: absolute ;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.08);
    width: 320px ;
    height: 200px ;
    background-color: #ffffff;
    display: flex;
    overflow: hidden;
}

.overImg{
    position: relative;
    width:130px;
    height:130px;
    top: 20px;
}

.input2 {
    height: 177px;
    width: 168px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-overflow-scrolling: touch;
}

.sampButton {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    flex: 0 auto;
    display: inline-block;
    margin: 3.5px;
    width: 40px;
    height: 40px;
    background: none no-repeat;
    background-size: contain;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    border:1px solid white
}

.input2 div a:hover .sampButton{
    border:1px solid #008fff;
    opacity:0.6;
}

.stampImage{
    width:130px;
}

main {
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #aaa;
    margin: 30px 0;
    border-radius: 4px;
}

main div div{
    display: flex;
    padding:5px
}

main div input {
    max-width: 50px;
    padding: 0px 0px;
}

hr{
    margin-top:5px;
    margin-bottom:5px;
}

.kakite{
    background-color: rgba(255, 156, 224, 0.5);
}

.stmp_btn{
    background: url("../img/test1.png") no-repeat;
}

.stmp_btn a{
    width:30px;
    height:30px;
    background: url("./img/test1.png") no-repeat;
    display: block;
    text-indent: -9999px;
}

.stmp_btn a:hover {
    background-image: url("./img/test2.png");
}