doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title webCanvas
    link(rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='./css/slider.css')
    link(rel='stylesheet' type='text/css' href='./css/webCanvasStyle.css')
    link(rel='stylesheet' type='text/css' href='./css/stamp.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css')
  body#allBody
    // 1：ここから追加
    .row
      .col-sm-12.col-md-7
        #odai
          h2(style='text-align:center')
            font(size='7') ゲーム開始待ち…
        form#gameReset(style='display:none; text-align: center; ')
          button.btn.btn-info(type='submit') はじめから
      .col-sm-12.col-md-1
        #badAnswerTimer
          h2
            | 0秒
        form#startTimerForm
          input#startTimer.btn.btn-secondary(type='submit' value='スタート' disabled='false')
        form#stopTimerForm
          input#stopTimer.btn.btn-secondary(type='submit' value='ストップ' disabled='false')
      .col-sm-12.col-md-4
        form#setGameTimes
          main
            div
              div
                | ラウンド数：
                input#gameCount.form-control(type='number' style='padding: 1px 2px; height: 25px;')
                | 回
              div
                | 制限時間：
                input#drowTime.form-control(type='number' style='padding: 1px 2px; height: 25px;')
                | 秒
            div
              div
                | インターバル：
                input#intervalTime.form-control(type='number' style='padding: 1px 2px; height: 25px;')
                | 秒
              div
                | お手付き時間：
                input#nowBadTime.form-control(type='number' style='padding: 1px 2px; height: 25px;')
                | 秒
            select#themeName.form-control(style='width: 200px;')
                option(value='normal' hidden='') お題を選んでね
                option(value='easy') 初級
                option(value='normal') 中級
                option(value='hard') 上級
            button.btn.btn-success(type='submit') send
    // 1：ここまで
    .row(style='padding: 15px;')
      .col-sm-12.col-md-8
        canvas#mycanvas(width='640' height='360') Canvasに対応した最新のブラウザをお使いください
      .col-sm-12.col-md-4(style='border: 1px solid #aaa; border-radius: 4px; padding: 5px 10px;')
        // 2：ここから追加
        div(style='list-style:none; padding:10px;')
          ul#players
            li  プレイヤー一覧 
          // 2：ここまで
          div(style='background-color:#fff;overflow-y:scroll;width:300px; height:280px; border-radius: 4px; ')
            ul#chat(style='list-style:none; padding:5px 30px;')
        div(style='border: 1px solid #aaa; border-radius: 4px; padding: 10px;')
          #otetukiTimer
            div  お手付きタイマー
          div(style='display: flex;')
            div 解答：
            form#answer(style='display: flex;')
              input#userAnswer.form-control(type='text' placeholder='say answer!!' style='width:230px;')
          div(style='display: flex;')
            div コメント：
            form#formInline
              input#msgForm.form-control(type='text' placeholder='coment' style='width:200px;')
            form#stampButton(style='padding:0px 5px;')
              input#stmB.stmp_btn(type='image' src='./img/test2.png' style='width:25px; height:25px; margin: 5px 0;')
    // カラーピッカーここから
    .container
      input.pickr(type='text')
    // カラーピッカーここまで
    .row
      .col-sm-12.col-md-9
        .col-sm-3.col-md-1
          canvas#colorPrev.prev(width='50' height='50')
        //
          <div class="col-sm-9 col-md-5">
          <ul style="list-style:none;">
          <li><label>R:	<input id="colorR" class="sliders" type="text" data-slider-max="255"　data-slider-min="0" data-slider-value="0" ></label></li>
          <li><label>G:	<input id="colorG" class="sliders" type="text" data-slider-max="255"　data-slider-min="0" data-slider-value="0" ></label></li>
          <li><label>B:	<input id="colorB" class="sliders" type="text" data-slider-max="255"　data-slider-min="0" data-slider-value="0" ></label></li>
          </ul>
          </div>
        .col-sm-3.col-md-1
          canvas#widthPrev.prev(width='50' height='50')
        .col-sm-9.col-md-5
          label
            | Pen size:	
            input#penWidth.sliders(type='text' data-slider-max='25' data-slider-min='1' data-slider-value='1')
    div
      .col-md-6
        button#erase.btn.btn-primary.btn-lg(type='button') 消去
      .col-md-6
        button#save.btn.btn-lg(type='button') 保存
    #gallery
    a.twitter-share-button(href='https://twitter.com/share?ref_src=twsrc%5Etfw' data-show-count='false') Tweet
    script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
    //
      <div class="container">
      <h1>WebSocket-Chat</h1>
      <form class="form-inline" id ="formInline">
      <div class="form-group">
      <label class="roomLabel" for="rooms">部屋：</label>
      <select class="form-control" id="rooms">
      <option value="room01">部屋01</option>
      <option value="room02">部屋02</option>
      </select>
      <label class="nameLabel" for="msgForm">名前：</label>
      <input type="text" class="form-control" id="msgForm">
      </div>
      <!--この子いらないのでは？？
      <button type="button" class="btn btn-primary" id="sendButton" onclick="location.href='/canv_and_chat' ">入室</button>
      </form>
      <div id="chatLogs"></div>
      </div>
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
    script(src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(type='text/javascript' src='./js/bootstrap-slider.js')
    script(type='text/javascript' src='./socket.io/socket.io.js')
    script(type='text/javascript' src='./js/webCanvas.js')
    script(src='https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js')
